blockquote {
    background-color: khaki;
    font-family: "Times New Roman";
}

blockquote:hover {
    background-color: lavender;
    cursor: pointer;
}

.important {
    color:darkred;
    font-size:3-px;
}

.underlined {
  text-decoration: underline;
}

body {
    width: 100vw;
    height: 100vh;
    font-size: 16px;
    line-height: 1.5;
    font-family: sans-serif;
    max-width: 960px;
    margin: auto;
}

h1 {
    font-size: 36px;
}


